In [1]:
is_sunny = True
temp= 25
if is_sunny :
    print("It's a sunny day !")
    if temp >20 :
        print("The weather is warm .")
    else:
        print("The weather is cool .")
else:
    print("It's not a sunny day ")

It's a sunny day !
The weather is warm .

In [8]:
grade = int(input("enter your grade "))
if grade<=100 and grade>=90:
    print("A+")
elif grade <90 and grade >=80:
    print("B")
elif grade <80 and grade>=70 :
    print("C")
elif grade <70 and grade>=60 :
    print("D")
elif grade <60 and grade >= 0 :
    print("F")
else :
    print("invaild")

A+

In [4]:
for i in range (6):
    if i==3 :
        continue
    print(i)

0
1
2
4
5

In [5]:
for i in range(6) :
    if i==4 :
        break
    print(i)

0
1
2
3

In [6]:
for i in range(5):
    if i==2 :
        pass
    else:
        print(i)

0
1
3
4

In [7]:
x=6
while x>0 :
    print(x)
    x-=1

6
5
4
3
2
1

In [11]:
def info_user(name="admin" , age=21):
    """
    param_1 : tske y= the name from user
    type param_1:str
    param_2 : take age from user
    type param_1 : int
    
    return : return string of the name and age
    type return : str
      
    """
    return f"my name is {name} and my age is {age}"

In [12]:
info_user()

'my name is admin and my age is 21'

In [10]:
from user_info import info_user

In [20]:
def function_1 (name , age):
    print(f"my name is {name} , my age is {age}")
function_1(name="amit",age=40)

my name is amit , my age is 40

In [21]:
def function_1(name , age):
     print(f"my name is {name} , my age is {age}")
function_1(age=40 ,name="amit")

my name is amit , my age is 40

In [23]:
def function_1(*name):
    print(name)
    print(type(name))
function_1("hello","python", "amit", 2, 2.5 , [1, 2 ,3])

('hello', 'python', 'amit', 2, 2.5, [1, 2, 3])
<class 'tuple'>

In [24]:
def function_1(**name):
    print(name)
    print(type(name))
function_1(key1= 10.5 , key2= 2, key3="machine learning", key4= "python")

{'key1': 10.5, 'key2': 2, 'key3': 'machine learning', 'key4': 'python'}
<class 'dict'>

In [31]:
result =lambda x : x+10
result(10)
print(type(result))

<class 'function'>

In [33]:
info_user

In [34]:
function_name = lambda x: x+10
print(function_name(5))

15

In [35]:
function_name = lambda x, y: x+y
print(function_name(5 ,10))

15

In [36]:
def function_1 (n):
    return lambda a : a*n
function_2 = function_1(2)
print(function_2(11))

22