In [7]:
import random
n = random.random()
n

0.3446946173208977

In [57]:
lst = ["omar" , "ahmed" , "mohamed" , "ali "]
random.choice(lst)

'omar'

In [34]:
import os
import sys

In [27]:
base="F:/HNU/DEPI_GIZA_AIS4_S1_DS/.env_DS/src/python/session_4/code"
type(base)

str

In [30]:
file = os.listdir(base)

In [31]:
print(file)

['basic.ipynb']

In [32]:
os.remove(base+'/rem.txt')

In [65]:
base_dir = "./tmp_directory_test_again"
file_name = "text_1.txt"
file_path = os.path.join(base_dir , file_name)
os.remove (file_path)

In [66]:
directory = "./tmp_directory_test_again"
if not os.path.exists(directory):
    os.makedirs(directory)
else:
    print("directory already exists : ", directory)

directory already exists :  ./tmp_directory_test_again

In [69]:
path = "tmp_directory"
if not os.path.exists(path) :
    os.makedirs(path)
for i in range (20):
    inner_path = os.path.join(path , "dir_"+ str(i))
    if not os.path.exists(inner_path):
        os.makedirs(inner_path)


def create_folders(path) :
    
    if not os.path.exists(path) :
     os.makedirs(path)
    for i in range (20):
      inner_path = os.path.join(path , "dir_"+ str(i))
      if not os.path.exists(inner_path):
         os.makedirs(inner_path)

In [73]:
from create_folder import create_folders
create_folders(path)

ModuleNotFoundError: No module named 'create_folder'

In [74]:
with open("./tmp_directory/text_1.txt","a+") as file :
    file.write("New line added \n")
    file.seek(0)
    updated_content = file.read()
    print(updated_content)

New line added

In [75]:
try:
    5/0
except:
    print("Not accept to divid by zero")

Not accept to divid by zero

In [76]:
try :
    x=10
    y=int(input())
    x/y
except:
    print('division by zero')

division by zero

In [77]:
try:
    5/0
except Exception as e :
    print(e)

division by zero

In [104]:
"""
this class 
"""

class StudentInfo :
    def __init__(self , student_name , age , gpa , gender):
                
        self.student_name =student_name
        self.age = 4
        self.Gpa = 3.99
        self.gender = "male"
    
        pass

    def student_info (self) :
        
        return f"welcome to {self.student_name}"

In [105]:
s1 = StudentInfo("omar" , 21 , 3.9 , "male")
s1.student_info()

'welcome to omar'

In [97]:
class test :
    def info(self):
        print(self)

In [100]:
t1 = test()
print(t1)
print(t1.info())

<__main__.test object at 0x00000221121D3C50>
<__main__.test object at 0x00000221121D3C50>
None

In [113]:
class Calc :
    
    def __init__(self , num1: int , num2: int):
        self.num1 = num1
        self.num2 = num2
    
    def sum(self) :
        return self.num1 + self.num2
    
    def sub(self) :
        return self.num1 - self.num2

In [118]:
c1 = Calc(5 , 3)
c1.sum()

8

In [126]:
from abc import ABC , abstractmethod
class Animal (ABC) :
    
    @abstractmethod
    def move (self):
        pass
    
    
class Bird (Animal):
    
    def move(self):
        print("bird")
        
        
class Cat (Animal):
    
    def move(self):
        print("Cat")

In [127]:
a = Bird()
a.move()

bird